.card {
  padding: 1rem;
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);
}

h2 {
  font-family: var(--font-secondary);
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
}

img {
  max-height: var(--medium-images);
  border-radius: var(--radius-small);
  margin-bottom: 2rem;
}

p {
  text-align: justify;
  margin-bottom: 2rem;
}

a {
  color: var(--color-text);
  font-size: var(--font-size-med-large);
}
