<header>
  <img src="assets/logo/CataGram-logo.svg" alt="CataGram logo">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="" routerLinkActive="active-page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item diagram-page" *ngFor="let dataModel of dataModels">
      <a routerLink={{dataModel.dataModel}} routerLinkActive="active-page">{{dataModel.dataModel}}</a>
    </li>
  </ul>
  <div class="hamburger" *ngIf="isMobile">
    <app-hamburger (menuToggle)="handleMenuToggle($event)"></app-hamburger>
  </div>
</header>
