<header>
  <div class="logo"></div>
  <app-dark-mode-toggle *ngIf="isMobile"></app-dark-mode-toggle>
  <ul class="nav-list">
    <li class="nav-item" *ngIf="!isMobile">
      <app-dark-mode-toggle></app-dark-mode-toggle>
    </li>
    <li class="nav-item">
      <a routerLink="" routerLinkActive="active-page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item diagram-page" *ngFor="let dataModel of dataModels">
      <a routerLink={{dataModel.dataModel}} routerLinkActive="active-page">{{dataModel.dataModel}}</a>
    </li>
  </ul>
  <div class="hamburger" *ngIf="isMobile">
    <app-hamburger (menuToggle)="handleMenuToggle($event)"></app-hamburger>
  </div>
</header>
