<header>
  <img src="../../../assets/logo/CataGram-logo.svg">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="" routerLinkActive="active-page" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="uml" routerLinkActive="active-page">UML</a>
    </li>
    <li class="nav-item">
      <a routerLink="merise" routerLinkActive="active-page">Merise</a>
    </li>
  </ul>
  <div class="hamburger" *ngIf="isMobile">
    <app-hamburger></app-hamburger>
  </div>
</header>
