.container {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

app-search-bar {
    width: 100%;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards-type-container {
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-container {
    width: 480px;
}

h2, h3 {
    font-family: var(--font-secondary);
}

h2 {
    font-size: var(--font-size-large);
}

h3 {
    font-size: var(--font-size-med-large);
}

@media(min-width: 769px) {
    .cards-type-container {
        gap: 2rem;
    }
}
