@font-face {
  font-family: "open-sauce";
  src: url('assets/fonts/OpenSauceOne-Regular.ttf');
}
:root {
  /*font variables*/
  --font-primary: "open-sauce", "sans-serif";
  --font-secondary: "open-sauce", "sans-serif";
  --font-size-mobile: 12px;
  --font-size-base: 16px;
  --font-size-med-large: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 3rem;
  /*colors variables*/
  --color-primary: #FFFAF6;
  --color-secondary: #DDD1CF;
  --color-text:#131313;
  --input-color: #aaa;
  /* dark mode colors */
  --color-primary-dark: #2d2d30;
  --color-secondary-dark: #2C2C2C;
  --color-text-dark: #E5E5E5;
  /*shadow variables*/
  --shadow-small: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-large: rgba(149, 157, 165, 0.25) 0px 10px 28px;
  /*radius variables*/
  --radius-small: 5px;
  --radius-medium: 10px;
  /* element sizes */
  --small-images: 5rem;
  --medium-images: 10rem;
  --large-images: 20rem;
  /*  images url*/
  --logo-url: url('assets/logo/CataGram-logo.svg');
  --logo-title-url: url('assets/logo/CataGram-title.svg');
  --logo-url-dark: url('assets/logo/CataGram-logo-dark.svg');
  --logo-title-url-dark: url('assets/logo/CataGram-title-dark.svg');
  --moon-icon: url('assets/icons/moon-svgrepo-com.svg');
  --sun-icon: url('assets/icons/sun-alt-svgrepo-com.svg');
}

/*Global styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-primary);
  font-size: var(--font-size-mobile);
  color: var(--color-text);
  background-color: var(--color-primary);
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-text: var(--color-text-dark);
  --logo-url: var(--logo-url-dark);
  --logo-title-url: var(--logo-title-url-dark);
  --moon-icon: var(--sun-icon);
}

.img-container .illustration{
  width: 100%;
}

@media (min-width: 481px) {
  html {
    font-size: var(--font-size-base);
  }
}
