.card {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-radius: var(--radius-medium);
  box-shadow: var(--shadow-small);
  display: flex;
  gap: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-large);
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: var(--small-images);
  border-radius: var(--radius-small);
}

.text-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

h4 {
  font-family: var(--font-secondary);
}

@media(min-width: 481px) {
  .card {
    width: 480px;
    height: 100%;
  }
}
