html {
  font-family: var(--font-primary);
  color: var(--color-text);
}

.container, .body {
  width: 100%;
}

.navigation-wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.navigation-wrapper.isVisible {
  max-height: 1200px;
}

@media (min-width: 769px) {
  .body {
    display: flex;
    width: 100%;

  }
  .navigation-wrapper {
    min-width: 250px;
    max-height: 2000px;
  }
}
